<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Final Fantasy 14 Jobs</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <header class="text-center mb-5">
            <h1>Final Fantasy 14 Jobs :</h1>
        </header>

        <section class="mb-5">
            <h2>Introduction :</h2>
            <p class="text-justify">
                Final Fantasy 14 (FFXIV) est un MMORPG (jeu de rôle en ligne massivement multijoueur) développé et édité par Square Enix.
                Il se déroule dans le monde fantastique d'Eorzea, où les aventuriers se lancent dans des quêtes épopée épiques, explorent des donjons dangereux et affrontent des monstres redoutables.
            </p>
            <p class="text-justify">
                Dans FFXIV, les jobs sont des classes jouables qui définissent les compétences et le style de jeu d'un personnage.
                Chaque job a son propre rôle dans le gameplay et offre une expérience de jeu unique.
                Par exemple, les tanks sont chargés d'encaisser les dégâts et de protéger le groupe, les healers soignent les blessures des alliés, tandis que les DPS infligent des dégâts aux ennemis.
            </p>
            <p class="text-justify">
                Les joueurs peuvent changer de job à tout moment en équipant différentes armes, ce qui leur permet d'adapter leur rôle en fonction des besoins de leur groupe ou de leur style de jeu préféré.
                Avec une grande variété de jobs disponibles, allant du guerrier armé d'une hache jusqu'aux mystérieux invocateurs, chaque joueur peut trouver un job qui correspond à son style de jeu et à ses préférences.
            </p>
        </section>
    </div>
</body>
</html>
